p{
	margin-left: 97px;
	margin-right:3000px;
}
	
#questions {
	margin-left:3000px;
}
#long {
	margin-top:5000px;
	margin-right:2000px; 
}
#move1{
	margin-right: 400px;
}
#right {
	padding-right:500px;

}
#rotate{
	padding-right: 500px;
	text-transform:330px;
}

#four {
	margin-right:0px;
}