p{
	margin-left: 0px;
	margin-right:0px;
}
	
#questions {
	margin-left:3000px;
}
#long {
	margin-top:5000px;
	margin-right:2000px; 
}

#move1{
	margin-right: 400px;
}
#right {
	padding-right:500px;

}
#rotate{
	padding-right: 500px;
	text-transform:330px;
}

#four {
	margin-right:0px;
}

#bottom{
	margin-bottom: 500px;

}

#vertical{
	transform: rotate(90deg);
}