#long {
	margin-top:5000px;
	margin-right:1000px;
	margin-left: 0px;
	margin-bottom: 10px 
}
body{
	background-color: black;
	margin-top: 0px
	margin-right:0px;
	text-shadow: 4px 4px 10px yellow;
	-webkit-animation: flash linear 30s infinite;
	animation: flash linear 30s infinite;

}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

#para1 {
	margin-left: 1000px;
	padding-left: 450px;
	margin-right: 0px;
	padding-top: 200px;
}

#para2{
	padding-top: 1100px;
	margin-left: 370px;
	margin-right: -600px;
	position: relative;
}

#para3{
	padding-top:0px;
	margin-left:0px;
	margin-right:-1000px;
	text-align: center;
}

#para4{
	padding-top: 777px;
	margin-left: 300px;
	margin-right: -690px;
	padding-left: 450px;
}

#para5{
	padding-top: 2050px;

}

#para6{
	padding-left: 600px;
	margin-right: -700px;
}

#para7{
	padding-top: 500px;
	margin-right:-1000px;
}

#para8{
	margin-left: 650px;
	padding-left: 450px;
	margin-right: -1000px;
}

#para9{
	padding-top: 1500px;
	margin-left: 400px;
	margin-right: -500px;
}


#para10{
	padding-top: 500px;
	padding-left: 600px;
	margin-right: -600px;

}

#para11{
	padding-top: 500px;
	margin-left: 400px;
	margin-right: -500px;
}

#para12{
	padding-top: 500px;
	padding-left: 600px;
	margin-right: -600px;

}

#para13{
	padding-top:2500px;
	margin-right:-5000px;
}


